.content {
  min-height: calc(100vh - 130px - 200px);
  background-color: #f2f5f7;
}

.header_content {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.Content-Footer {
  margin-top: 56px;
}

.container_content {
  max-width: 1200px;
  padding-left: 25px;
  padding-right: 25px;
  margin-right: auto;
  margin-left: auto;
}

.custom_input{
  position: relative;

}
.custom_input:after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
  width: 25px;
  height: 25px;
  background: url("./img/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.carousel-indicators {
  position: absolute;
  margin-top: 50px;
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 0;
  justify-content: space-between;
}



.carousel-indicators [data-bs-target] {
  width: 23%;
  border-top: 0;
  border-bottom: 0;
  background-color: gray;
}

.carousel-indicators .active {
  background-color: red;
}

.span_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  margin-top: 10px;
	color:#000;
	opacity: 1;
	background: rgba(0,0,0,0.2);
}
.swiper-pagination-bullet-active {
	background: orangered !important;
}

.accordion_item_custom {
  background-color: rgb(55 65 81);
  color: white;
  padding-left: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 6px;
}
.accordion_item_custom:not(:nth-of-type(5)){
  border-bottom: 1px solid white ;
}


.accordion_header_custom {
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 0;
}

.form_number_input {
  width: 40%;
  height: 23px;
  border-radius: 4px;
  color: #000;
  font-size: 14px;
}

.nav-pills .nav-link {
  border-radius: 0;
  color: gray;
  background-color: #000;
}

.nav-pills .nav-link.active {
  background-color: #000;
}

.word_wrp {
  overflow-wrap: break-word;
}

.modal_window {
  background-color: rgba(0, 0, 0, 0.4);
}

.comparition_swipper-space {
  margin-right: 2px !important;
  border-radius: 6px;
  background-color: #3B3B3B;
}

.comparition_swipper-space:hover {
  background-color: orangered;
}

.comparition_swipper-space.active {
  background-color: orangered;
}

.scroll_position {
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

div.scrollcards .card{
  /* display: inline-block; */
  padding: 14px;
  text-decoration: none;
  width: 320px;
  height: 470px;
}

.accardion_item_history-custom {
  background-color: white;
  padding: 20px 15px 15px;
}

.bg-not_found {
  background-image: url('./img/not-found.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-origin: content-box;
}

.bg_opacity {
  background-color: rgba(242, 245, 247, 0.8);
}