.content {
  min-height: calc(100vh - 130px - 200px);
  background-color: #f2f5f7;
}

.Content-Footer {
  margin-top: 56px;
}

.container_content {
  max-width: 1200px;
  padding-left: 25px;
  padding-right: 25px;
  margin-right: auto;
  margin-left: auto;
}

.carousel-indicators {
  position: absolute;
  margin-top: 50px;
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 0;
  justify-content: space-between;
}

.carousel-indicators [data-bs-target] {
  width: 23%;
  border-top: 0;
  border-bottom: 0;
  background-color: gray;
}

.carousel-indicators .active {
  background-color: red;
}

.span_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  margin-top: 10px;
	color:#000;
	opacity: 1;
	background: rgba(0,0,0,0.2);
}
.swiper-pagination-bullet-active {
	background: orangered !important;
}

.accordion_item_custom {
  background-color: rgb(55 65 81);
  color: white;
  padding-left: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 6px;
}
.accordion_item_custom:not(:nth-of-type(5)){
  border-bottom: 1px solid white ;
}


.accordion_header_custom {
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 0;
}

.form_number_input {
  width: 40%;
  height: 23px;
  border-radius: 4px;
  color: #000;
  font-size: 14px;
}

.nav-pills .nav-link {
  border-radius: 0;
  color: gray;
  background-color: #000;
}

.nav-pills .nav-link.active {
  background-color: #000;
}

.word_wrp {
  overflow-wrap: break-word;
}

.modal_window {
  background-color: rgba(0, 0, 0, 0.4);
}

.comparition_swipper-space {
  margin-right: 2px !important;
  border-radius: 6px;
  background-color: #3B3B3B;
}

.comparition_swipper-space:hover {
  background-color: orangered;
}

.comparition_swipper-space.active {
  background-color: orangered;
}

.scroll_position {
  overflow: auto;
}

/* ::-webkit-scrollbar {
  width: 5px;
  height: 20px;
} */

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
	background-color: #CCCCCC;
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #FFF;
	background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, transparent 100%, rgba(0, 0, 0, 1) 75%, transparent)
}

div.scrollcards .card{
  /* display: inline-block; */
  padding: 14px;
  text-decoration: none;
  width: 320px;
  height: 470px;
}

.accardion_item_history-custom {
  background-color: white;
  padding: 20px 15px 15px;
}

.bg-not_found {
  background-image: url('./assets/not-found.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-origin: content-box;
}

.bg_opacity {
  background-color: rgba(242, 245, 247, 0.8);
}

.setmark{
  color: #fff;
  line-height: 1;
  padding: 4px;
}

.color_purple{
  background-color: indigo;
}

.color_oranged{
  background-color: #FC573B;
}

.modal_reg{
  background-color: rgba(0, 0, 0, 0.8);
}

.css-j204z7-MuiFormControlLabel-root {
  margin-right: 0 !important;
}

.basket_shadow:hover{
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06), 0px -10px 20px rgba(0, 0, 0, 0.06);
  z-index: 2;
}

@media (max-width: 895px) {
  .search_panel{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .search_panel-w {
    width: 100% !important;
    margin-left: 0;
  }
}