.App {
  text-align: center;
}

.header_content {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.Content-Footer {
  margin-top: 56px;
}

.container_content {
  max-width: 1200px;
  padding-left: 25px;
  padding-right: 25px;
  margin-right: auto;
  margin-left: auto;
}

.custom_input{
  position: relative;

}
.custom_input:after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
  width: 25px;
  height: 25px;
  background: url("./img/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.nav_border{
  border: 1px solid black;
  border-radius: 6px;
  transition: all 1s ease;
}

.nav_border:hover{
  border: 1px solid orangered;
  border-radius: 6px;
  cursor: pointer;
}

.hover_link{
  background-color: black;
  transition: all 1s ease;
}

.hover_link:hover{
  background-color: orangered;
}

.carousel-indicators {
  position: absolute;
  margin-top: 50px;
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 0;
  justify-content: space-between;
}



.carousel-indicators [data-bs-target] {
  width: 23%;
  border-top: 0;
  border-bottom: 0;
  background-color: gray;
}

.carousel-indicators .active {
  background-color: red;
}

.span_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  margin-top: 10px;
	color:#000;
	opacity: 1;
	background: rgba(0,0,0,0.2);
}
.swiper-pagination-bullet-active {
	background: orangered !important;
}


.borderTab {
  border: 1px solid black !important;
}

.nav-link {
  color: #212526;
  padding-left: 5px;
  padding-right: 5px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-link:hover {
  background-color: black;
  color: white;
  
  border: 1px solid black !important;
}